:root {
  --prim-dark: #3a400d;
  --prim-light: #9e784f;
}


body {
  background-color: var(--prim-light);
  color: var(--prim-dark);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.main-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 45%;
}

.timer {
  font-family: 'Roboto', monospace;
  background-color: var(--prim-dark);
  color: var(--prim-light);
  border-radius: 15px;
  padding: 15px;
  margin: 15px;
  font-size: 4rem;
  width: auto;
  text-align: center;
}

.btn-container {
  position: relative;
}

.btn-container .btn {
  background-color: var(--prim-dark);
  color: var(--prim-light);
  border-radius: 8px;
  border: none;
  margin: 0px 2px;
  padding: 8px 10px;
  cursor: pointer;
  width: auto;
  font-size: 2rem;
}

.btn-container .btn:disabled {
  background-color: var(--prim-light);
  color: var(--prim-dark);
  border: 2px solid var(--prim-dark);
  padding: 6px 8px;
  opacity: 0.8;
}

.btn-container .btn:active {
  transform: scale(0.98);
}

.btn-container .btn:focus {
  outline: 0;
}

.interval-container {
  display: flex;
  flex-direction: column;
  background-color: var(--prim-dark);
  color: var(--prim-light);
  border: none;
  border-radius: 10px;
  font-size: 1.5rem;
  padding: 15px;
  margin: 15px;
  height: auto;
  max-height: 28vh;
  overflow-y: scroll;
}

/* width */
::-webkit-scrollbar {
  width: 13px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--prim-dark);
  border-radius: 10px;
  margin: 15px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--prim-light);
  border-radius: 10px;
  border: solid 3px var(--prim-dark);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.interval {
  font-family: 'Roboto', monospace;
}
